/* Animation basic */
body{
  background-color: " #D8E8FA"
}
.wrapper{
  margin:2em auto;
  width:  350px;
  position:  relative
}
.blue_robot{
  transform: translate(100px, 50px) skew(0deg,1deg) scale(1.2) rotate(45deg)
}