
body {
	background-image: url('background.png');
	background-size: cover;
	background-position: 0px -250px;
}

.wrapper {
	margin: 20em auto 2em auto;
	width:80%;
	position:relative;
}

.robot {
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 4;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

@keyframes slide {
  0% {transform: translateX(0);}
  20% {transform: translateX(200px);}
  35% {transform: translateX(0);}
  90% {transform: translateX(980px);}
  100% {transform: translateX(900px);}
}
