@import url(https://fonts.googleapis.com/css?family=Lato:400,900,300,300italic,400italic,900italic);

body {
	background-color: #f7e4fe; 
	background-image: url('purple_diag_background.svg');
	background-size: cover;
	background-position: 0 -50px;
	font-family: 'Lato', arial, helvetica, sans-serif;
	font-size: 1.6rem;
	font-weight: 300;
}

.wrapper {
	margin: 12em auto 2em auto;
	width:80%;
  position:relative;
  perspective: 1000px;
}

p {
	color: white;
	text-align: center;
}

button {
	cursor: hand;
	background-color: #ff8d35;
	color: white;
	font-weight: 900;
	font-size: 1.2rem;
	border: none;
	padding:1em 3em;
	margin: 2em auto;
  display:block;
  transition: .3s ease-in
}

button:hover {
  background-color: #E86B0A;
  transform: scale(1.2) rotateX(30deg)
  
}




